@model MadeInCanadaForum.Models.Comment

@{
    ViewData["Title"] = "Edit Comment";
}

<h1>Edit Comment</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DiscussionId" />

        <div class="mb-3">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Discussions" asp-action="Details" asp-route-id="@Model.DiscussionId">Back to Discussion</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
