@model MadeInCanadaForum.Models.Discussion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Discussion</h1>

@* <h4>Discussion</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscussionId" />
            <div class="mb-3">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Camera" class="control-label"></label>
                <input asp-for="Camera" class="form-control" />
                <span asp-validation-for="Camera" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFilename" class="control-label"></label>
                <input asp-for="ImageFilename" class="form-control" />
                <span asp-validation-for="ImageFilename" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisible" /> @Html.DisplayNameFor(model => model.IsVisible)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div class="mb-3">
                @* /Comments/Create/5 *@
                <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="me-2 btn btn-secondary">Add comment</a>

                @if (Model.Comments != null)
                {
                    foreach (var comment in Model.Comments)
                    {
                        <span class="badge rounded-pill text-bg-light pe-2">@comment.Content <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.CommentId">x</a> </span>
                    }
                }

            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
